config BT_DEFAULT_PASSKEY
    int "Driver name"
    default 111111
    depends on BT_FIXED_PASSKEY
    help
        Default bluetooth fixed passkey

rsource "jsn_sr04t/Kconfig"
rsource "nrfx_adc_supply/Kconfig"