/ {
    chosen {
        zephyr,code-partition = &code_partition;
    };

    rangefinder: rangefinder {
        status = "ok";
        compatible = "jsn,sr04t";
        trig-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
        echo-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
        supply-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
        label = "RANGEFINDER";
    };

    battery: battery {
        status = "ok";
        compatible = "nordic,adc-supply";
        label = "supply-voltage";
    };
};

&adc {
    status = "okay";
};

&flash0 {
    /*
     * For more information, see:
     * https://docs.zephyrproject.org/latest/guides/dts/index.html#flash-partitions
     */
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        code_partition: partition@0 {
            label = "image-0";
            reg = <0x00000000 0x3f000>;
        };
        storage_partition: partition@3f000 {
            label = "storage";
            reg = <0x0003f000 0x01000>;
        };
    };
};

