# Kconfig - JSN-SR04T Waterproof Ultrasonic Rangefinder configuration options

menuconfig JSN_SR04T
    bool "JSN-SR04T Waterproof Ultrasonic Rangefinder"
    depends on GPIO
    help
      Enable driver for the JSN-SR04T waterproof ultrasonic rangefinder.

if JSN_SR04T

config JSN_SR04T_ECHO_TIMEOUT
    int "Echo timeout in ms"
    default 12
    help
        Timeout in ms to wait for an echo

config JSN_SR04T_NS_PER_MM
    int "Echo time conversion factor"
    default 5882
    help
        Echo time conversion factor in nS per mm

endif # JSN_SR04T