interface sysfsgpio
transport select swd

sysfsgpio_swdio_num 482
sysfsgpio_swclk_num 483

set CHIPNAME nrf51822
source [find target/nrf51.cfg]
 
# did not yet manage to make a working setup using srst
#reset_config srst_only
reset_config  srst_nogate
 
adapter_nsrst_delay 100
adapter_nsrst_assert_width 100
 
init
targets
reset halt
